* {
  font-family: Inter;
}

.main-container {
  max-height: 100vh;
}

.parent-row {
  padding-left: 50%;
}

.img-container {
  position: fixed;
  top: 0%;
  left: 0%;
  max-width: 50%;
}

.background-img {
  height: 100vh;
  position: sticky;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.form-main-container {
  height: 100vh;
  vertical-align: middle;
  width: 100%;
}

.login {
  min-height: 100vh;
}

.art_work {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.main_heading {
  font-weight: 700;
}

.sub_heading {
  font-weight: 400;
  color: #7a7a7a;
  font-size: large;
  line-height: 1.6;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.customInput {
  height: 60px;
  border-radius: 5px;
}

.customLabel,
.form-control::placeholder {
  color: #7a7a7a;
}

.customLoginButton {
  height: 55px;
  width: 120px;
  background-color: #0060b8;
  border-radius: 5px;
}

.customRegisterButton {
  height: 50px;
  width: 215px;
  border-radius: 5px;
  background-color: #0060b8;
  color: white;
}

.btn-container>button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  border-radius: 5px;
}

.customShipperButton {
  background-color: white;
  color: #4f4f4f;
  border: 2px solid #e0e0e0;
}

.customCarrierButton {
  background-color: #f0f5fb;
  color: #0060b8;
  border: 2px solid #0060b8;
}

.customInput::placeholder {
  color: #BDBDBD;
}

.form,
.form-container {
  gap: 32px;
}

.btn-custom-upload {
  background-color: #E0E0E0;
  color: #4F4F4F;
  padding: 20px 18px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  text-align: start;
}

.btn-custom-upload:hover {
  background-color: #cfcfcf;
  /* Darker shade of blue for hover effect */
}

.customSignInButton {
  height: 55px;
  width: 120px;
  background-color: #fff;
  border-radius: 5px;
  color: #393939;
  border-color: #0060b8;
  border-width: 2px;
}

.register-container {
  display: flex;
  margin-top: 24px;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1024px) {
  .row {
    width: 100%;
  }

  .form-group {
    display: block;
  }

  .form-control {
    width: auto;
  }

  .customInput {
    box-sizing: border-box;
  }

  .register-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .register-container .div {
    padding: 0%;
  }

}

.g-recaptcha {
  height: 78px;
}
